<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ $css := "css/style.css" | absURL }}
    <link rel="stylesheet" href="{{ $css }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap" rel="stylesheet"> 
    <title>{{ .Title }}</title>
  </head>
  <body>
    <div>
      <main id="main">
       {{ block "main" . }}{{ end }}
      </main>
    </div>
  </body>
</html>