{{ define "main" }}
    <div>
      <main>
          <h1 class="title">{{ .Title }}</h1>
          <p>{{ .Site.Params.homeText | markdownify }}</p>
        </div>
      </main>
    </div>
    <div class="midsection">
    <p>{{ .Content}}
    Tofu is made from soybeans. This is a handy guide to the most common types of tofu.
Visit /type/ to see all types.
<p>
<strong>Common ways to prep:</strong>
<ul class="">
<li><b>For softer consistencies:</b>[Mainly soft and silken tofus] Drain off the excess water, and use directly.
    </li>
<li><b>For heavier, meatier textures:</b>[Use firm or extra-firm tofus] Drain off the excess water, and wrap the block in paper towels. Place heavy object on top of the block so it can squeeze out the moister faster and consistently.</li>    
</ul>
</p>
<p>
<strong>Common ways to season:</strong>

<ul class="">
<li><b>Marinate:</b>Use a liquid base to create the marinade and cover the tofu.
    </li>
<li><b>Dry rub:</b>Use breadcrumbs and extra salt to toss tofu in.</li>   
</ul> 
</p>
    </div>
{{ end }}